for itarator_variable in sequence_name:
	Statements
	. . .
	Statements

In [2]:
name = "Faizan"
for word in name:
    print(word)

F
a
i
z
a
n

In [4]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

for day in week:
    print("Name of Day in a Week : ",day)

Name of Day in a Week :  Sunday
Name of Day in a Week :  Monday
Name of Day in a Week :  Tuesday
Name of Day in a Week :  Wednesday
Name of Day in a Week :  Thursday
Name of Day in a Week :  Friday
Name of Day in a Week :  Saturday

In [7]:
for number in range(1,5):
    print(number)

1
2
3
4

In [8]:
number={1,2,3,4,5,6}

for n in number:
    print(n)

1
2
3
4
5
6

In [12]:
week = ('1-Sunday','2-Monday','3-Tuesday','4-Wednesday','5-Thursday','6-Friday','7-Saturday')
for day in week:
    print("Name of Day in a Week : ",day)

Name of Day in a Week :  1-Sunday
Name of Day in a Week :  2-Monday
Name of Day in a Week :  3-Tuesday
Name of Day in a Week :  4-Wednesday
Name of Day in a Week :  5-Thursday
Name of Day in a Week :  6-Friday
Name of Day in a Week :  7-Saturday

In [20]:
numbers = (1,2,3,4,5)
sum = 0
for number in numbers:
    print(number)
    sum = sum + number
    print("Sum of Numbers is:", sum)
print("Sum of Numbers outside the loop is:", sum)

1
Sum of Numbers is: 1
2
Sum of Numbers is: 3
3
Sum of Numbers is: 6
4
Sum of Numbers is: 10
5
Sum of Numbers is: 15
Sum of Numbers outside the loop is: 15

=========================================
                Table of 2
=========================================
                2 * 1 = 2
                2 * 2 = 4
                2 * 3 = 6
                .........
                .........
                .........
                .........
                .........
                2 * 10 = 20
============================================

In [28]:
number = int(input("Enter your Number: "))
for i in range(1,11):
    print(number,"*",i,"=",number*i)

Enter your Number: 67
67 * 1 = 67
67 * 2 = 134
67 * 3 = 201
67 * 4 = 268
67 * 5 = 335
67 * 6 = 402
67 * 7 = 469
67 * 8 = 536
67 * 9 = 603
67 * 10 = 670

In [26]:
number = int(input("Enter your desired Number: "))
print("=========================================")
print ("Table of ", number)
print("=========================================")
for n in range(1,10):
    print(number,"*",n ,"=" ,number*n)
print("=========================================")

Enter your desired Number: 35
=========================================
Table of  35
=========================================
35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
=========================================

In [31]:
names=['Asim','Ali','Asad','Ahmer']
for word in names:
        #This loop is fetching word from the list
        print ("The following lines will print each letters of "+word)
        for letter in word:
                #This loop is fetching letter for the word
                print (letter)
        print("") #This print is used to print a blank line

The following lines will print each letters of Asim
A
s
i
m

The following lines will print each letters of Ali
A
l
i

The following lines will print each letters of Asad
A
s
a
d

The following lines will print each letters of Ahmer
A
h
m
e
r